body{
    padding: 0;
    font-size:20px;
    margin: 0;
}

/*Main*/
.main{
    display: flex;
    background-image: url('../img/comunication.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

/* Sign Up*/
input[type=text]{
    width: 90%;
    height: 50px;
    border-radius: 7px;
    margin: 15px;
    padding:  10px;
    font-size: 20px;
}

label{
    font-size: 30px;
    font-weight: 600;
    color: #edffea;
    margin: 0px 20px;
}

.signUP{
    background-color: #05c46b;
    width: 45%;
    height: 800px;
    padding: 15px;
    padding-top: 100px;
    opacity: 0.8;
    transition: 1s ease-out;
    overflow: hidden;
    
}

.labelSignUp{
    color: #c0392b;
    margin-left: 30px;
    font-weight: 700;
}

.btnSignUp{
    padding: 0;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    box-shadow: none;
    background-color:#eb2f06;
    color: white;
    margin:18px;
    font-size: 19px;
}

#fPassword{
    margin-left: 20px;
}